{% set title = 'Главная' %}
{% set type = 'index' %}
{% include 'parts/_head.html' %}

<main>
    <h1>Главная</h1>
    <section class="services">
        <h2 class="services--h">
            Услуги
        </h2>
        {% set services = ['Обучение', 'Консультация', 'Код ревью'] %}
        <ul class="services--list list">
            {% for service in services %}
            <li class="list--item">
                {{ service }}
            </li>
            {% endfor %}
        </ul>
    </section>
</main>

{% include 'parts/_footer.html' %}
