{% set title = 'Расписание' %}
{% set type = 'schedule' %}
{% include 'parts/_head.html' %}
<body>
    <h1>Расписание</h1>
    
    <ul>
        {% set days = ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'пятница'] %}
    {% for day in days %}
        <li>{{day}}
            <ul>
                <li>
                    - Задания
                </li>
                <li>
                    - Консультации
                </li>
            </ul>
        </li>
        
    {% endfor %}
    <li>Суббота, Воскресенье
        <ul>
            <li>выходные</li>
        </ul>
    </li>
</body>
{% include 'parts/_footer.html' %}